.single-item {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  column-gap: 1rem;
  font-size: 20px;
  font-weight: 800;
  align-items: center;
}

.single-item p {
  text-transform: capitalize;
}

.single-item input[type="checkbox"] {
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  color: #900e0e;
}

.single-item .btn {
  cursor: pointer;
  color: #fff;
   background: #9607a3;
  border: transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  
}

.single-item .btn:hover {
  background: #690871;
   opacity: 0.9;
  transform: translateY(-1px);
}

.single-item .remove-btn {
  background: #222;
   
}

.single-item .remove-btn:hover {
  background: #900e0e;
   opacity: 0.9;
  transform: translateY(-1px);
}